<header>
    <div class="heading">
        <h1>{% block title %}{% endblock %}</h1>
        <p>{% block subline %}{% endblock %}</p>
    </div>
    <div class="actions">{% block actions %}{% endblock %}</div>
</header>