<form class="form" method="post" novalidate>
    <div class="form-heading-container">{% block heading %}{% endblock %}</div>
    <div class="form-content-container">{% block content %}{% endblock %}</div>
    <div class="form-content-container">{% block footer %}{% endblock %}</div>
</form>