services:
  php-cli:
    container_name: cli
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - .:/app
    working_dir: /app/symfony
    environment:
      PHP_IDE_CONFIG: "serverName=symfony"
  php-web:
    container_name: web
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - .:/app
    working_dir: /app/symfony
    command: php -S 0.0.0.0:8000 -t web
    ports:
      - "8000:8000"
    environment:
      PHP_IDE_CONFIG: "serverName=symfony"

  oracle:
    image: gvenzl/oracle-xe:21-slim
    container_name: oracle-xe
    environment:
      ORACLE_PASSWORD: oracle
      ORACLE_DATABASE: XEPDB1
      APP_USER: app
      APP_USER_PASSWORD: app
    ports:
      - "1521:1521"
      - "5500:5500"
    volumes:
      - oracle-data:/opt/oracle/oradata
    shm_size: 1g
    healthcheck:
      test: ["CMD", "healthcheck.sh"]
      interval: 10s
      timeout: 5s
      retries: 10
  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    restart: always
    environment:
      MH_AUTH_FILE: /mailhog.auth
      MH_MAILDIR_PATH: /data
      MH_STORAGE: maildir
    volumes:
      - ./mailhog.auth:/mailhog.auth:ro
      - ./data:/data:rw
    ports:
      - "1025:1025" #127.0.0.1:1025:1025
      - "8025:8025"
volumes:
  oracle-data:
