.alert--error {
    background-color: #fef2f2;
    border: 1px solid #fecaca;
    color: #991b1b;
}

.alert--success {
    background-color: #f0fdf4;
    border: 1px solid #bbf7d0;
    color: #166534;
}