header {
    display: flex;
    justify-content: space-between;

    .heading-container {
        display: flex;

        .back {
            display: flex;
            flex-direction: column;
            justify-content: center;

            padding: 0 0.5em;
            a:link, a:visited {
                color: light-dark(var(--color-slate-900), var(--color-slate-100));
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 1.4em;
            }
        }

        .heading {
            h1 {
                font-size: 1.4em;
                margin-block-start:  0.67em;
                margin-block-end: 0;
            }

            p {
                color: light-dark(var(--color-slate-700), var(--color-slate-300));
                font-size: 0.9em;
                margin-block-start: 0.1em;
                margin-block-end: 1em;
            }
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-block-end: 1em;
    }
}