header {
    display: flex;
    justify-content: space-between;

    .heading {
        h1 {
            font-size: 1.4em;
            margin-block-end: 0;
        }

        p {
            color: light-dark(var(--color-slate-700), var(--color-slate-300));
            font-size: 0.9em;
            margin-block-start: 0.1em;
            margin-block-end: 1em;
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin-block-end: 1em;
    }
}