# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:

    # https://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
    providers:
        in_memory:
            memory: ~

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        # API firewall (stateless, Authorization header)
        # TODO: Implement ApiTokenAuthenticator for production
        api:
            pattern: ^/api
            stateless: true
            anonymous: true
        main:
            anonymous: ~
            # activate different ways to authenticate
            logout_on_user_change: true
            # https://symfony.com/doc/current/security.html#a-configuring-how-your-users-will-authenticate
            #http_basic: ~

            # https://symfony.com/doc/current/security/form_login_setup.html
            #form_login: ~
#            TODO:
#            pattern: ^/
#            anonymous: true
#            form_login:
#                login_path: /login
#                check_path: /login
#            logout:
#                path: /logout