security:
    encoders:
        AppBundle\Entity\User:
            algorithm: bcrypt

    providers:
        database_users:
            entity:
                class: AppBundle\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        api:
            pattern: ^/api
            stateless: true
            anonymous: true

        main:
            anonymous: true
            logout_on_user_change: true

            form_login:
                login_path: login
                check_path: login
                default_target_path: dashboard
                username_parameter: _email
                password_parameter: _password
                csrf_token_generator: security.csrf.token_manager

            logout:
                path: logout
                target: homepage

            remember_me:
                secret: '%secret%'
                lifetime: 604800  # 1 week
                path: /
                remember_me_parameter: _remember_me

    access_control:
        - { path: ^/$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/login$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/forgot-password, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/reset-password, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/, roles: ROLE_USER }
