
:root {
    /**/

    --color-white: #fff;
    --color-slate: oklch(55.439% 0.04072 257.42);
    --color-slate-50: oklch(86.151% 0.01286 255.51);
    --color-slate-100: oklch(82.961% 0.01653 253.92);
    --color-slate-200: oklch(76.33% 0.02296 256.75);
    --color-slate-300: oklch(69.489% 0.03033 256.52);
    --color-slate-400: oklch(62.499% 0.03817 256.39);
    --color-slate-500: oklch(55.439% 0.04072 257.42);
    --color-slate-600: oklch(46.021% 0.03163 257.08);
    --color-slate-700: oklch(36.052% 0.02407 255.68);
    --color-slate-800: oklch(25.095% 0.01454 261.66);
    --color-slate-900: oklch(12.756% 0.00348 245.81);
    --color-slate-950: oklch(0% 0 none);
    /**/
    --color-indigo: oklch(58.54% 0.20406 277.12);
    --color-indigo-50: #eef2ff;
    --color-indigo-600: #4f46e5;
    --color-indigo-900: #4c1d95;
    /**/
    --radius: 0.375rem;
    --radius-lg: 0.5rem;
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);

    color-scheme: light dark;
}

body {
    background-color: light-dark(var(--color-white), var(--color-slate-900));
    color: light-dark(var(--color-slate-950), var(--color-slate-50));
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;

    .page-container {
        max-width: 1280px;
        width: 98%;

        @media screen and (min-width: 800px) {
            width: 70%;
        }

        > * {
            padding: 0 0.25em;
        }
    }
}

a:link, a:visited {
    color: var(--color-indigo-600);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}