.p-1 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.p-2 {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.p-4 {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

.flex.row {
    flex-direction: row;
}

.flex.col-reverse {
    flex-direction: column-reverse;
}

.flex.row-reverse {
    flex-direction: row-reverse;
}

.grid {
    display: grid;
}
