AppBundle\Entity\Charge:
    type: entity
    table: null
    repositoryClass: AppBundle\Repository\ChargeRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        chargeAmountCents:
            type: integer
            column: charge_amount_cents
        payerType:
            type: string
            length: '20'
            column: payer_type
        serviceDate:
            type: date
            column: service_date
        createdAt:
            type: datetime
            column: created_at
    lifecycleCallbacks:
        prePersist: [ onPreCreatedAt ]
    oneToMany:
        insights:
            targetEntity: AppBundle\Entity\Insight
            mappedBy: charge
    manyToOne:
        department:
            targetEntity: AppBundle\Entity\Department
            inversedBy: charges
            joinColumn:
                name: department_id
                referencedColumnName: id
        patient:
            targetEntity: AppBundle\Entity\Patient
            inversedBy: charges
            joinColumn:
                name: patient_id
                referencedColumnName: id
    manyToMany:
        diagnoses:
            targetEntity: AppBundle\Entity\Diagnosis
            inversedBy: charges
            joinTable:
                name: charge_diagnosis
                joinColumns:
                    charge_id:
                        referencedColumnName: id
                inverseJoinColumns:
                    diagnosis_id:
                        referencedColumnName: id
        procedureCodes:
            targetEntity: AppBundle\Entity\ProcedureCode
            inversedBy: charges
            joinTable:
                name: charge_procedure_code
                joinColumns:
                    charge_id:
                        referencedColumnName: id
                inverseJoinColumns:
                    procedure_code_id:
                        referencedColumnName: id